<p>Dear {{ user.username }},</p>
<p>
    How could you possibly forget your password?! You could have saved it using your browser password saver, or some password sofware, you could have even just written it down somewhere!
All valid ways you could have kept on using this amazing site without any problems. But now you can't use the site anymore!
But no worries, the developer built in a way for you to reset your password in case you forgot, as you did.
To reset your password click on the following link:
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset than I'm sorry for this email. You can just ignore it and pretend this never happend.</p>
<p>Sincerely,</p>
<p>Me</p>